#root{
    height: 200px;
    width: 100%;

}
#Call{
    text-decoration: underline;
    color: rgb(126, 119, 119);
    cursor: pointer;
}
#navbar{
    display: flex;
    /* justify-content: space-around; */
    background-color: white;
    padding: 10px;
}
#navbar a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-family:  "Josefin Sans", sans-serif;
}
#navbar a:hover{
    color: rgb(131, 130, 130);
    /* text-decoration: underline; */

    /* border-radius: 10px; */
}
#Call{
    /* text-decoration: none; */
    border: none;
    background-color: transparent;
    color: rgb(26, 26, 26);
    font-family:  "Josefin Sans", sans-serif;
    font-size: 20px;
    cursor: pointer;
    padding-left: 55%;
}
#Call:hover{
    /* text-decoration: underline; */
    color: rgb(131, 130, 130);
}
#hero_text{
    color: rgb(139, 139, 139);
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
}
#para{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}
#hero_text_parent{
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 50px;
    margin-left: 10%;
}
#hero_text_parent p{
    margin-top: -15px;
    margin-bottom: 50px;
}
#hero_text_parent_div{
    display: ruby;
    margin-right: 150px;
    gap: -10%;
}
#center_h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 90px;
    margin-bottom: -20px;
}
#hero-para{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgb(100, 100, 100);
}
#parent-center{
    padding: 10px;
    margin-left: 35px;
}
#scroll-down{
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    color: rgb(120, 120, 120);
    margin-top: 110px;
    margin-left: 40px;
}
#hero{
    display: flex;
    justify-content: center;
    /* align-items: end; */
    height: 100vh;
    width: 100%;
}