*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}
h1{
  color: red;
}
.nav{
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}
.foot{
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}